
<%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
  <p>
<!--    <%#= form.label :user %><br>-->
    <%#= form.text_field :user %>
  </p>
  <p>
    <%= form.label :message %><br>
    <%= form.text_area :message %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>