
<%= render 'posts/post', post: @post %>
<div class="post-wrapper row">
  <div class="post col-md-6 col-md-offset-3">
    <div class="post-content">
      <h6>Comments</h6>
      <% @post.comments.each do |comment| %>
        <%= render 'comments/comment', comment: comment %>
      <% end %>
      <% if @post.comments.empty? %>
        <p>No comments yet.</p>
      <% end %>
      <br>
      <h6>Add a comment</h6>
      <%= render 'comments/form' %>
    </div>
  </div>
</div>