@import "bootstrap-sprockets";
@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text:400,500,700&display=swap');

$milk: #FEFEFE;
$cookies-and-cream : #efd1a4;
$cookie: #BD8C61;
$milk-chocolate : #84563C;
$caput-mortuum : #5A2C22;
$root-beer : #270D0B;

body {
  padding-top: 60px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  font-family: 'Red Hat Text', sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  text-decoration: none;
}

.btn {
  margin: 8px 4px;
  padding: 6px 12px!important;
  //height:20px !important;
  border: 2px solid $milk;
  font-weight: 500;

  &.btn-primary {
    background-color: $milk-chocolate;
    border-color: $milk-chocolate;
  }
}

/* header */

.navbar {
  background-color: $cookies-and-cream;
  border-color: lighten($cookies-and-cream, 15%);
  max-height: 50px;

  a {
    color: $milk!important;
    font-size: 1.1em;
  }
}

#logo {
  color: $milk;
  font-weight: 500;
}

blockquote {
  font-size: 18px;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  text-align: center;
  border: none;
}

blockquote:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #ccc;
  font-size: 3em;
}
blockquote::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 35px;
  color: #ccc;
  font-size: 3em;
}