@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors";

@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text:400,500,700&display=swap');

body {
  padding-top: 60px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  font-family: 'Red Hat Text', sans-serif;
  background-color: $milk;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  text-decoration: none;
  font-weight: 500;
}

.btn {
  margin: 8px 4px;
  padding: 6px 12px!important;
  border: 2px solid $milk-chocolate;
  font-weight: 500;

  &.btn-primary {
    background-color: $milk-chocolate;
    border-color: $milk-chocolate;
    color: $cookies-and-cream!important;
  }
}

/* header */

.navbar {
  background-color: $cookies-and-cream;
  border-color: lighten($cookies-and-cream, 15%);
  max-height: 50px;

  a {
    color: $milk-chocolate!important;
    font-size: 1.1em;
  }
}

#logo {
  color: $milk;
  font-weight: 500;
}

.gravatar {
  border-radius: 50%;
}