// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.post {
  overflow: hidden;
  background-color: white;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 32px;
}

.post-image {
  max-width: 100%;
}

.post-content {
  padding: 16px 32px;

  .post-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $milk;
    font-weight: 500;
    margin-bottom: 8px;
  }
}
